# Impot Required Libraries

In [39]:
import pandas as pd
import numpy as np

from sklearn.preprocessing import LabelEncoder,StandardScaler

from pycaret.classification import setup,compare_models
from sklearn.ensemble import GradientBoostingClassifier

# Load Train And Test Data

In [2]:
train=pd.read_csv("C:\\Users\\admin\\Desktop\\GITHUB Projects\\UD\\spaceship-titanic\\train.csv")
test=pd.read_csv("C:\\Users\\admin\\Desktop\\GITHUB Projects\\UD\\spaceship-titanic\\test.csv")

In [3]:
train

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [4]:
test

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4272,9266_02,Earth,True,G/1496/S,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0,Jeron Peter
4273,9269_01,Earth,False,NaN,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0,Matty Scheron
4274,9271_01,Mars,True,D/296/P,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0,Jayrin Pore
4275,9273_01,Europa,False,D/297/P,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0,Kitakan Conale
4276,9277_01,Earth,True,G/1498/S,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0,Lilace Leonzaley

# Merge Train And Test Data For Preprocessing

In [5]:
target=train.Transported
test_id=test.PassengerId

train_1=train.drop(['PassengerId','Cabin','Name','Transported'],axis=1)
test_1=test.drop(['PassengerId','Cabin','Name'],axis=1)

data=pd.concat([train_1,test_1],axis=0).reset_index(drop=True)

In [6]:
data

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0
1,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0
2,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0
3,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0
4,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0
...,...,...,...,...,...,...,...,...,...,...
12965,Earth,True,TRAPPIST-1e,34.0,False,0.0,0.0,0.0,0.0,0.0
12966,Earth,False,TRAPPIST-1e,42.0,False,0.0,847.0,17.0,10.0,144.0
12967,Mars,True,55 Cancri e,NaN,False,0.0,0.0,0.0,0.0,0.0
12968,Europa,False,NaN,NaN,False,0.0,2680.0,0.0,0.0,523.0
12969,Earth,True,PSO J318.5-22,43.0,False,0.0,0.0,0.0,0.0,0.0

# Null Value Treatment

In [7]:
data.isna().sum()

HomePlanet      288
CryoSleep       310
Destination     274
Age             270
VIP             296
RoomService     263
FoodCourt       289
ShoppingMall    306
Spa             284
VRDeck          268
dtype: int64

In [8]:
data.dtypes

HomePlanet       object
CryoSleep        object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
dtype: object

# Null Value Treatment For Categorical Columns

Filling the numeric values using Mode for Age column and filling 0 in place of null values for other columns

In [9]:
data.Age=data.Age.fillna(data.Age.mean())

In [10]:
data[['RoomService','FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']] = data[['RoomService','FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']].fillna(value=0)

# Null Value Treatment For Categorical Columns

Filling the categorical values using Mode

In [12]:
for column in[
    'HomePlanet',
    'CryoSleep',
    'Destination',
    'VIP'
]:
    data[column]=data[column].fillna(data[column].mode()[0])

In [13]:
data.isna().sum()

HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
dtype: int64

In [14]:
data

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Europa,False,TRAPPIST-1e,39.000000,False,0.0,0.0,0.0,0.0,0.0
1,Earth,False,TRAPPIST-1e,24.000000,False,109.0,9.0,25.0,549.0,44.0
2,Europa,False,TRAPPIST-1e,58.000000,True,43.0,3576.0,0.0,6715.0,49.0
3,Europa,False,TRAPPIST-1e,33.000000,False,0.0,1283.0,371.0,3329.0,193.0
4,Earth,False,TRAPPIST-1e,16.000000,False,303.0,70.0,151.0,565.0,2.0
...,...,...,...,...,...,...,...,...,...,...
12965,Earth,True,TRAPPIST-1e,34.000000,False,0.0,0.0,0.0,0.0,0.0
12966,Earth,False,TRAPPIST-1e,42.000000,False,0.0,847.0,17.0,10.0,144.0
12967,Mars,True,55 Cancri e,28.771969,False,0.0,0.0,0.0,0.0,0.0
12968,Europa,False,TRAPPIST-1e,28.771969,False,0.0,2680.0,0.0,0.0,523.0
12969,Earth,True,PSO J318.5-22,43.000000,False,0.0,0.0,0.0,0.0,0.0

# Encoding The Categorical Data

Using LabelEncoder for CryoSleep and VIP columns as they are having Ordinal Data

In [15]:
le=LabelEncoder()

data.CryoSleep=le.fit_transform(data.CryoSleep)
data.VIP=le.fit_transform(data.VIP)

In [16]:
data

,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Europa,0,TRAPPIST-1e,39.000000,0,0.0,0.0,0.0,0.0,0.0
1,Earth,0,TRAPPIST-1e,24.000000,0,109.0,9.0,25.0,549.0,44.0
2,Europa,0,TRAPPIST-1e,58.000000,1,43.0,3576.0,0.0,6715.0,49.0
3,Europa,0,TRAPPIST-1e,33.000000,0,0.0,1283.0,371.0,3329.0,193.0
4,Earth,0,TRAPPIST-1e,16.000000,0,303.0,70.0,151.0,565.0,2.0
...,...,...,...,...,...,...,...,...,...,...
12965,Earth,1,TRAPPIST-1e,34.000000,0,0.0,0.0,0.0,0.0,0.0
12966,Earth,0,TRAPPIST-1e,42.000000,0,0.0,847.0,17.0,10.0,144.0
12967,Mars,1,55 Cancri e,28.771969,0,0.0,0.0,0.0,0.0,0.0
12968,Europa,0,TRAPPIST-1e,28.771969,0,0.0,2680.0,0.0,0.0,523.0
12969,Earth,1,PSO J318.5-22,43.000000,0,0.0,0.0,0.0,0.0,0.0

Using OneHotEncoder for HomePlanet and Destination columns as they are having nominal data

In [20]:
data=pd.get_dummies(data)

In [21]:
data

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,HomePlanet_Mars,Destination_55 Cancri e,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0,39.000000,0,0.0,0.0,0.0,0.0,0.0,0,1,0,0,0,1
1,0,24.000000,0,109.0,9.0,25.0,549.0,44.0,1,0,0,0,0,1
2,0,58.000000,1,43.0,3576.0,0.0,6715.0,49.0,0,1,0,0,0,1
3,0,33.000000,0,0.0,1283.0,371.0,3329.0,193.0,0,1,0,0,0,1
4,0,16.000000,0,303.0,70.0,151.0,565.0,2.0,1,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12965,1,34.000000,0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,0,1
12966,0,42.000000,0,0.0,847.0,17.0,10.0,144.0,1,0,0,0,0,1
12967,1,28.771969,0,0.0,0.0,0.0,0.0,0.0,0,0,1,1,0,0
12968,0,28.771969,0,0.0,2680.0,0.0,0.0,523.0,0,1,0,0,0,1
12969,1,43.000000,0,0.0,0.0,0.0,0.0,0.0,1,0,0,0,1,0

In [22]:
data=data.drop(['HomePlanet_Mars','Destination_55 Cancri e'],axis=1)

In [23]:
data

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,0,39.000000,0,0.0,0.0,0.0,0.0,0.0,0,1,0,1
1,0,24.000000,0,109.0,9.0,25.0,549.0,44.0,1,0,0,1
2,0,58.000000,1,43.0,3576.0,0.0,6715.0,49.0,0,1,0,1
3,0,33.000000,0,0.0,1283.0,371.0,3329.0,193.0,0,1,0,1
4,0,16.000000,0,303.0,70.0,151.0,565.0,2.0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
12965,1,34.000000,0,0.0,0.0,0.0,0.0,0.0,1,0,0,1
12966,0,42.000000,0,0.0,847.0,17.0,10.0,144.0,1,0,0,1
12967,1,28.771969,0,0.0,0.0,0.0,0.0,0.0,0,0,0,0
12968,0,28.771969,0,0.0,2680.0,0.0,0.0,523.0,0,1,0,1
12969,1,43.000000,0,0.0,0.0,0.0,0.0,0.0,1,0,1,0

# Scaling The Data

In [25]:
scaler=StandardScaler()
scaler.fit(data)

data=pd.DataFrame(scaler.transform(data), index=data.index, columns=data.columns)
data

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,-0.738967,7.184543e-01,-0.146633,-0.340290,-0.281822,-0.292365,-0.269707,-0.257100,-1.108906,1.771949,-0.316951,0.646731
1,-0.738967,-3.352005e-01,-0.146633,-0.170439,-0.276082,-0.249566,0.221040,-0.219449,0.901790,-0.564350,-0.316951,0.646731
2,-0.738967,2.053084e+00,6.819762,-0.273285,1.998823,-0.292365,5.732776,-0.215170,-1.108906,1.771949,-0.316951,0.646731
3,-0.738967,2.969924e-01,-0.146633,-0.340290,0.536429,0.342766,2.706059,-0.091947,-1.108906,1.771949,-0.316951,0.646731
4,-0.738967,-8.971498e-01,-0.146633,0.131863,-0.237179,-0.033861,0.235342,-0.255389,0.901790,-0.564350,-0.316951,0.646731
...,...,...,...,...,...,...,...,...,...,...,...,...
12965,1.353240,3.672360e-01,-0.146633,-0.340290,-0.281822,-0.292365,-0.269707,-0.257100,0.901790,-0.564350,-0.316951,0.646731
12966,-0.738967,9.291853e-01,-0.146633,-0.340290,0.258364,-0.263262,-0.260768,-0.133877,0.901790,-0.564350,-0.316951,0.646731
12967,1.353240,-2.495556e-16,-0.146633,-0.340290,-0.281822,-0.292365,-0.269707,-0.257100,-1.108906,-0.564350,-0.316951,-1.546237
12968,-0.738967,-2.495556e-16,-0.146633,-0.340290,1.427386,-0.292365,-0.269707,0.190440,-1.108906,1.771949,-0.316951,0.646731
12969,1.353240,9.994289e-01,-0.146633,-0.340290,-0.281822,-0.292365,-0.269707,-0.257100,0.901790,-0.564350,3.155058,-1.546237

# Splitting The Train And Test Data

In [26]:
train_final=data.loc[:train.index.max(),:].copy()
test_final=data.loc[train.index.max()+1:,:].reset_index(drop=True).copy()

In [27]:
train_final

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,-0.738967,0.718454,-0.146633,-0.340290,-0.281822,-0.292365,-0.269707,-0.257100,-1.108906,1.771949,-0.316951,0.646731
1,-0.738967,-0.335201,-0.146633,-0.170439,-0.276082,-0.249566,0.221040,-0.219449,0.901790,-0.564350,-0.316951,0.646731
2,-0.738967,2.053084,6.819762,-0.273285,1.998823,-0.292365,5.732776,-0.215170,-1.108906,1.771949,-0.316951,0.646731
3,-0.738967,0.296992,-0.146633,-0.340290,0.536429,0.342766,2.706059,-0.091947,-1.108906,1.771949,-0.316951,0.646731
4,-0.738967,-0.897150,-0.146633,0.131863,-0.237179,-0.033861,0.235342,-0.255389,0.901790,-0.564350,-0.316951,0.646731
...,...,...,...,...,...,...,...,...,...,...,...,...
8688,-0.738967,0.858942,6.819762,-0.340290,4.067092,-0.292365,1.198957,-0.193777,-1.108906,1.771949,-0.316951,-1.546237
8689,1.353240,-0.756662,-0.146633,-0.340290,-0.281822,-0.292365,-0.269707,-0.257100,0.901790,-0.564350,3.155058,-1.546237
8690,-0.738967,-0.194713,-0.146633,-0.340290,-0.281822,2.912395,-0.268813,-0.257100,0.901790,-0.564350,-0.316951,0.646731
8691,-0.738967,0.226749,-0.146633,-0.340290,0.387192,-0.292365,0.045837,2.511144,-1.108906,1.771949,-0.316951,-1.546237
8692,-0.738967,1.069673,-0.146633,-0.143949,2.708016,-0.292365,-0.269707,-0.246832,-1.108906,1.771949,-0.316951,0.646731

In [28]:
test_final

,CryoSleep,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,HomePlanet_Earth,HomePlanet_Europa,Destination_PSO J318.5-22,Destination_TRAPPIST-1e
0,1.353240,-1.244695e-01,-0.146633,-0.340290,-0.281822,-0.292365,-0.269707,-0.257100,0.901790,-0.564350,-0.316951,0.646731
1,-0.738967,-6.864188e-01,-0.146633,-0.340290,-0.276082,-0.292365,2.253749,-0.257100,0.901790,-0.564350,-0.316951,0.646731
2,1.353240,1.565051e-01,-0.146633,-0.340290,-0.281822,-0.292365,-0.269707,-0.257100,-1.108906,1.771949,-0.316951,-1.546237
3,-0.738967,6.482107e-01,-0.146633,-0.340290,3.960585,-0.292365,-0.107913,0.243494,-1.108906,1.771949,-0.316951,0.646731
4,-0.738967,-6.161751e-01,-0.146633,-0.324707,-0.281822,0.794720,-0.269707,-0.257100,0.901790,-0.564350,-0.316951,0.646731
...,...,...,...,...,...,...,...,...,...,...,...,...
4272,1.353240,3.672360e-01,-0.146633,-0.340290,-0.281822,-0.292365,-0.269707,-0.257100,0.901790,-0.564350,-0.316951,0.646731
4273,-0.738967,9.291853e-01,-0.146633,-0.340290,0.258364,-0.263262,-0.260768,-0.133877,0.901790,-0.564350,-0.316951,0.646731
4274,1.353240,-2.495556e-16,-0.146633,-0.340290,-0.281822,-0.292365,-0.269707,-0.257100,-1.108906,-0.564350,-0.316951,-1.546237
4275,-0.738967,-2.495556e-16,-0.146633,-0.340290,1.427386,-0.292365,-0.269707,0.190440,-1.108906,1.771949,-0.316951,0.646731
4276,1.353240,9.994289e-01,-0.146633,-0.340290,-0.281822,-0.292365,-0.269707,-0.257100,0.901790,-0.564350,3.155058,-1.546237

In [32]:
target

0       False
1        True
2       False
3       False
4        True
        ...
8688    False
8689    False
8690     True
8691    False
8692     True
Name: Transported, Length: 8693, dtype: bool

# Model Selection Using Pycaret Library

In [33]:
_=setup(data=pd.concat([train_final,target],axis=1),target='Transported')

In [34]:
compare_models()

Processing:   0%|          | 0/61 [00:00<?, ?it/s]

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='log_loss', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_samples_leaf=1,
                           min_samples_split=2, min_weight_fraction_leaf=0.0,
                           n_estimators=100, n_iter_no_change=None,
                           random_state=2246, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

# Model Training

In [40]:
gbc=GradientBoostingClassifier()

gbc.fit(train_final,target)

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='log_loss', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_samples_leaf=1,
                           min_samples_split=2, min_weight_fraction_leaf=0.0,
                           n_estimators=100, n_iter_no_change=None,
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

# Making Final Predictions On Test Data

In [42]:
pred=gbc.predict(test_final)

In [45]:
submission=pd.concat([test_id,pd.Series(pred,name='Transported')],axis=1)

In [46]:
submission

     PassengerId  Transported
0        0013_01         True
1        0018_01        False
2        0019_01         True
3        0021_01         True
4        0023_01         True
...          ...          ...
4272     9266_02         True
4273     9269_01        False
4274     9271_01         True
4275     9273_01         True
4276     9277_01         True

[4277 rows x 2 columns]

In [49]:
submission.to_csv("C:\\Users\\admin\\Desktop\\GITHUB Projects\\UD\\spaceship-titanic\\submission.csv",index=False,header=True)